body{
    background: url(img1.jpg) no-repeat center/cover;
    position:relative;
    text-align: center;

}
h2{
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: aliceblue;  
}
input:hover[type="value"]{
    width: 100px;
}
.tablemain{
    width: 20%;
    grid-gap: 30px;
    padding-left:500px;
}
td{
    width: 100%;
    
}
.login{
    text-align: center;
    padding-top: 10px;
}
footer{
    padding-top: 20px;
    padding-left: 50px;
}